/* ===== LANDING PAGE ===== */

.landing-page {
  min-height: 100vh;
  width: 100%;
  background: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.rentform-left-icons {
  display: flex;
  gap: 15px;
}
.rentform-nav-items {
  display: flex;
  gap: 25px;
}

.rent-box {
  width: 340px;
  margin: auto;
  padding: 2px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-top: 10px !important;
}
.rent-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rent-box input {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 5px;
}


.rent-form button {
  padding: 12px;
  background: #38bdf8;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.rent-form button:hover {
  background: #199fd1;
}

.left-icons {
  display: flex;
  gap: 15px;
}

.nav-items {
  display: flex;
  gap: 25px;
}

.landing-content {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rentform-page {
  width: 100%;
  min-height: 100vh;
  background: #f4f4f4;
  padding-top: 60px;
  margin: 0;
}

.rentform-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  background: #b90a0aff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.rent-title {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 2px;
  margin-top: -10px;
}



.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.rent-form input {
  width: 100%;
 

 
 box-sizing: border-box;
}