/* === ALL IMPORTS MUST BE AT THE VERY TOP === */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import "tailwindcss";

/* ==== GLOBAL SCROLLBAR FIX (Zoomcar style) ==== */
html, body {
  margin: 0;
  padding: 0;
  overflow-y: auto;        /* scroll auto hoga */
  width: 100%;
  height: 100%;
  background-image: url("/bg10.jpg"); /* 👈 public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Chrome, Edge, Safari – scrollbar hide */
body::-webkit-scrollbar {
  display: none !important;
}

/* Firefox – scrollbar hide */
body {
  scrollbar-width: none;
}



@font-face {
  font-family: 'Nabla';
  src: url('/fonts/Nabla-Regular-VariableFont_EDPT,EHLT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gloria';
  src: url('/fonts/GloriaHallelujah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
